<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>activities</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <div class="container">
        <form method="post" action="/activities2">
            <label>Search activity</label>
            <!--<input type="hidden" name = "activity_id">-->
            <!--<input type="hidden" name = "price">-->
            <input type="text" name = "name" onkeyup="myFunction()" id="myInput">
            <!--<input type="hidden" name = "duration">-->
            <input type="submit" value="Search">
        </form>
        <a href="/activities"> <button>View all</button> </a>

        <table id="myTable" style="width: 70%" >

            <thead>
                    <th style="width: 10%">Activity id</th>
                    <th style="width: 20%">Price</th>
                    <th style="width: 30%">Name</th>
                    <th style="width: 10%">Duration</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="activity: ${activity}">
                <td th:text="${activity.activity_id}"></td>
                <td th:text="${activity.price}"></td>
                <td th:text="${activity.name}"></td>
                <td th:text="${activity.duration}"></td>

            </tr>

            </tbody>
        </table>
        <a th:href="@{'/'}">
            <button class="btn-details">Back</button>
        </a>
    </div>

<script>
// filter table by activity name
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
</body>
</html>