<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Booking details</title>
    <link rel="stylesheet" href="style.css">
    <style>
        table, th, td{
            border: 1px solid black;
        }


    </style>
</head>
<body>
    <div class="container" align="center">
        <h1>Booking details</h1>
        <!--<table style="width: 70%">

            <thead>
            <th style="width: 10%">Booking id</th>
            <th style="width: 20%">Activity id</th>
            <th style="width: 30%">Instructor id</th>
            <th style="width: 10%">Customer id</th>
            <th style="width: 10%">Start date time</th>
            <th style="width: 10%">End date time</th>
            <th style="width: 10%">Add instructor</th>
            </tr>

            </thead>
            <tbody>


            <tr th:each="booking: ${booking}">
               <td th:text="${booking.booking_id}"></td>
                <td th:text="${booking.activity_id}"></td>
                <td th:text="${booking.instructor_id}"></td>
                <td th:text="${booking.customer_id}"></td>
                <td th:text="${booking.start_date_time}"></td>
                <td th:text="${booking.end_date_time}"></td>
                <td><a th:href="@{'/allocateBooking?booking=' + booking} " >
                    <button class="btn btn-ed">Allocate Instructor</button>
                </a></td>
            </tr>

            </tbody>

        </table>-->

        <span th:each="booking: ${booking}">
            <br>
            <form method="post" action="/allocateInstructor">
                <label>Booking id:</label>
                <input type="number" name="booking_id" th:value="${booking.booking_id}" readonly>
                <label>Activity id:</label>
                <input type="text" name="activity_id" th:value="${booking.activity_id}" readonly>
                <label>instructor id:</label>
                <input type="text" name="instructor_id" th:value="${booking.instructor_id}" readonly>
                <label>Customer id:</label>
                <input type="text" name="customer_id" th:value="${booking.customer_id}" readonly>
                <label>Start tidspunkt</label>
                <input type="text" name="start_date_time" th:value="${booking.start_date_time}" readonly>
                <label>Slut tidspunkt</label>
                <input type="text" name="end_date_time" th:value="${booking.end_date_time}" readonly>
                <input type="submit" value="Allocate Instructor" style="width: 200px" class="btn btn-create"><a th:href="${'/deleteBooking?id=' + booking.booking_id}" >
                    <button style="width: 200px" class="btn btn-del">Cancel booking</button>
                </a></td>
            </form>

            <br>
        </span>

        <a th:href="@{'/'}">
            <button class="btn btn-ed">Back</button>
        </a>
    </div>


</body>
</html>