<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <h1>Hej !</h1>

    <a href="/activities">
        <button class="btn" > View all activities </button>
    </a>
    <a href="/booking">
        <button class="btn" > Make a booking </button>
    </a>
    <a href="/bookingDetails">
        <button class="btn" > Make a booking </button>
    </a>
    <a href="/instructor">
        <button class="btn" > Make a booking </button>
    </a>
</body>
</html>