<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <img src="Logo.png" alt="TeamBuilding" style="margin-left: auto; margin-right: auto ; display: block">
    <br>
    <div style="text-align: center">

    <a href="/activities">
        <button class="btn btn-details" > View all activities </button>
    </a>
    <a href="/booking">
        <button class="btn btn-details" > Make a booking </button>
    </a>
    <a href="/bookingDetails">
        <button class="btn btn-details" > View booking details </button>
    </a>
    <a href="/instructor">
        <button class="btn btn-details" > Add an instructor </button>
    </a>

    </div>
</body>
</html>