<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Intstuctor</title>
    <link rel="stylesheet" href="style.css">
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Instructors</h1>
<div class="container">
    <table style="width: 70%">

        <thead>
        <th style="width: 10%">Instructor id</th>
        <th style="width: 20%">First name</th>
        <th style="width: 30%">Last name</th>
        <th style="width: 10%">Phone number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instructor: ${instructor}">
            <td th:text="${instructor.instructor_id}"></td>
            <td th:text="${instructor.first_name}"></td>
            <td th:text="${instructor.last_name}"></td>
            <td th:text="${instructor.phone_number}"></td>
            <td>  <a th:href="${'/editInstructor?id=' + instructor.instructor_id}">
                <button class="btn btn-ed">Update</button>
            </a></td>
        </tr>

        </tbody>
    </table>

    <h1>Create An Instructor</h1>
    <form method="post" action="/createInstructor">
        <input type="hidden" name="instructor_id" value="0">
        <input type="text" name="first_name" placeholder="First name">
        <input type="text" name="last_name" placeholder="Last name">
        <input type="text" name="phone_number" placeholder="Phone number">
        <input type="submit" value="Add instructor" class="btn btn-create">
    </form>
    <a th:href="@{'/'}">
        <button class="btn btn-ed">Back</button>
    </a>
</div>


</body>
</html>